.card__heading,
.card__text {
    padding: .5rem;
    text-transform: capitalize;
}

.card__heading {
    display: block;
    width: 12rem;
    border-bottom: .063rem solid #f7e773;
    line-height: 2rem;
}
