.app-header {
    display: flex;
    flex-wrap: nowrap;
    height: 3rem;
    background-color: #f7e773;
    box-shadow: 0 .2rem 1rem rgba(94, 94, 94, .2);
}

.app-header__routing {
    display: flex;
    flex-wrap: nowrap;
    width: 10rem;
    height: 100%;
    justify-content: space-evenly;
    padding-top: .5rem;
    list-style: none;
}

.app-header__rout-item {
    width: 4rem;
    height: 1.5rem;
}

.app-header__routing-btn {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #f7e773;
    border: .15rem solid #999999;
    border-radius: .25rem;
    color: #656565;
    text-decoration: none;
    line-height: 1.5rem;
    text-align: center;
}

.app-header__routing-btn:hover {
    background-color: #656565;
    border-color: #656565;
    color: #f7e773;
}

.app-header__heading {
    display: block;
    width: calc(100vw - 21rem);
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    /*padding-left: rem;*/
}

.app-header__counter-wrapper {
    width: 11rem;
    height: 100%;
    line-height: 2.5rem;
}

.app-header__counter {
    display: inline-block;
    width: 1.5rem;
    height: 2.5rem;
    color: #656565;
    background-color: #eeedeb;
    border-radius: .5rem;
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: 2%;
    margin-left: .25rem;
}
