.react-app {
    width: 100%;
    height: 100%;
    color: #3f3f3f;
    background-color: #f6f4ec;
}

.container {
    height: calc(100vh - 3rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5rem;
}
